<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    AdonisJS - A fully featured web framework for Node.js
  </title>

  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <style>
    :root {
      --sand-1: #fdfdfc;
      --sand-2: #f9f9f8;
      --sand-3: #f1f0ef;
      --sand-4: #e9e8e6;
      --sand-5: #e2e1de;
      --sand-6: #dad9d6;
      --sand-7: #cfceca;
      --sand-8: #bcbbb5;
      --sand-9: #8d8d86;
      --sand-10: #82827c;
      --sand-11: #63635e;
      --sand-12: #21201c;
    }
  </style>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            sans: ["Instrument Sans", "sans-serif"]
          },
          colors: {
            primary: {
              DEFAULT: "#5A45FF",
              lighter: "#a599ff"
            },
            sand: {
              1: "var(--sand-1)",
              2: "var(--sand-2)",
              3: "var(--sand-3)",
              4: "var(--sand-4)",
              5: "var(--sand-5)",
              6: "var(--sand-6)",
              7: "var(--sand-7)",
              8: "var(--sand-8)",
              9: "var(--sand-9)",
              10: "var(--sand-10)",
              11: "var(--sand-11)",
              12: "var(--sand-12)"
            }
          }
        }
      }
    };
  </script>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body class="min-h-screen w-screen font-sans">
  <div
    class="fixed xl:absolute left-8 right-8 top-0 bottom-0 xl:inset-0 max-w-screen-xl mx-auto before:content-[''] before:[background:repeating-linear-gradient(0deg,var(--sand-5)_0_4px,transparent_0_8px)] before:absolute before:top-0 before:left-0 before:h-full before:w-px after:content-[''] after:[background:repeating-linear-gradient(0deg,var(--sand-5)_0_4px,transparent_0_8px)] after:absolute after:top-0 after:right-0 after:h-full after:w-px">
  </div>

  <div class="pt-4 h-full flex flex-col">
    {{-- Header --}}
    <div class="grow pb-4 bg-gradient-to-b from-sand-1 to-sand-2 flex justify-center items-center">
      <a href="https://adonisjs.com" target="_blank" class="isolate">
        <svg class="w-16 h-16 fill-primary" viewBox="0 0 33 33">
          <path fill-rule="evenodd"
            d="M0 16.333c0 13.173 3.16 16.333 16.333 16.333 13.173 0 16.333-3.16 16.333-16.333C32.666 3.16 29.506 0 16.333 0 3.16 0 0 3.16 0 16.333Zm6.586 3.393L11.71 8.083c.865-1.962 2.528-3.027 4.624-3.027 2.096 0 3.759 1.065 4.624 3.027l5.123 11.643c.233.566.432 1.297.432 1.93 0 2.893-2.029 4.923-4.923 4.923-.986 0-1.769-.252-2.561-.506-.812-.261-1.634-.526-2.695-.526-1.048 0-1.89.267-2.718.529-.801.253-1.59.503-2.538.503-2.894 0-4.923-2.03-4.923-4.924 0-.632.2-1.363.432-1.929Zm9.747-9.613-5.056 11.443c1.497-.699 3.227-1.032 5.056-1.032 1.763 0 3.56.333 4.99 1.032l-4.99-11.444Z"
            clip-rule="evenodd" />
        </svg>
      </a>
    </div>

    {{-- Bento with documentation, Adocasts, packages and Discord --}}
    <div
      class="isolate mt-10 max-w-screen-xl mx-auto px-16 xl:px-8 grid grid-cols-1 xl:grid-cols-2 xl:grid-rows-3 gap-8">

      @each(movie in movies)
      <article
        class="relative p-6 shadow-sm hover:shadow border border-sand-7 hover:border-sand-8 rounded-2xl transition ease-in-out duration-700 group flex flex-row gap-4">
        <div class="shrink-0 w-10 h-10 bg-primary/20 rounded-md flex justify-center items-center">
          <svg class="h-6 w-6 fill-primary" viewBox="0 0 256 256">
            <path fill="currentColor"
              d="m164.44 105.34-48-32A8 8 0 0 0 104 80v64a8 8 0 0 0 12.44 6.66l48-32a8 8 0 0 0 0-13.32M120 129.05V95l25.58 17ZM216 40H40a16 16 0 0 0-16 16v112a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16m0 128H40V56h176zm16 40a8 8 0 0 1-8 8H32a8 8 0 0 1 0-16h192a8 8 0 0 1 8 8" />
          </svg>
        </div>

        <div class="space-y-1">
          <h2 class="text-lg font-semibold">
            <a href="{{ route('movies.show', { slug: movie.slug }) }}">
              <span>{{ movie.title }}</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-700">
            {{ movie.summary }}
            {{-- {{ inspect(movie) }} --}}
          </p>
        </div>
      </article>
      @endeach
    </div>

    {{-- Features --}}
    <div class="grow mt-10 mb-8 px-16 xl:px-8 max-w-screen-xl mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">
        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="{{ route('home') }}" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#D5EAE7] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#0E766E]" viewBox="0 0 24 24">
                  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M4 6a8 3 0 1 0 16 0A8 3 0 1 0 4 6" />
                    <path d="M4 6v6a8 3 0 0 0 16 0V6" />
                    <path d="M4 12v6a8 3 0 0 0 16 0v-6" />
                  </g>
                </svg>
              </span>
              <span>Home</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            A SQL ORM with a powerful query builder, active record, migrations, and model factories. Everything you need
            to work with databases.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>

        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="{{ route('movies.index') }}" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#D5EAE7] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#0E766E]" viewBox="0 0 24 24">
                  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M4 6a8 3 0 1 0 16 0A8 3 0 1 0 4 6" />
                    <path d="M4 6v6a8 3 0 0 0 16 0V6" />
                    <path d="M4 12v6a8 3 0 0 0 16 0v-6" />
                  </g>
                </svg>
              </span>
              <span>Movies</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            A SQL ORM with a powerful query builder, active record, migrations, and model factories. Everything you need
            to work with databases.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>

        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="https://lucid.adonisjs.com" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#D5EAE7] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#0E766E]" viewBox="0 0 24 24">
                  <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M4 6a8 3 0 1 0 16 0A8 3 0 1 0 4 6" />
                    <path d="M4 6v6a8 3 0 0 0 16 0V6" />
                    <path d="M4 12v6a8 3 0 0 0 16 0v-6" />
                  </g>
                </svg>
              </span>
              <span>Lucid</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            A SQL ORM with a powerful query builder, active record, migrations, and model factories. Everything you need
            to work with databases.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>

        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="https://vinejs.dev/" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#F3DBFC] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#CA5AF2]" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M12 3a12 12 0 0 0 8.5 3A12 12 0 0 1 12 21 12 12 0 0 1 3.5 6 12 12 0 0 0 12 3" />
                </svg>
              </span>
              <span>Vine</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            A yet simple but feature rich and type-safe form data validation. It comes with 50+ built-in rules and an
            expressive API to define custom rules.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>

        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="https://edgejs.dev/" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#B8EAE0] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#4BBBA5]" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 4a2 2 0 0 0-2 2v3a2 3 0 0 1-2 3 2 3 0 0 1 2 3v3a2 2 0 0 0 2 2M17 4a2 2 0 0 1 2 2v3a2 3 0 0 0 2 3 2 3 0 0 0-2 3v3a2 2 0 0 1-2 2" />
                </svg>
              </span>
              <span>Edge</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            Write your views with ease and enjoy the power of a simple, modern and battteries included template engine.
            You'll love it.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>

        <article
          class="relative py-4 px-5 bg-white border border-transparent rounded-lg hover:border-sand-8 hover:shadow-sm transition duration-100 ease-in-out group">
          <h2 class="font-semibold text-sand-12">
            <a href="https://japa.dev" target="_blank" class="flex flex-row gap-2">
              <span class="bg-[#FACDDC] h-6 w-6 flex justify-center items-center rounded">
                <svg class="h-4 w-4 fill-[#DD3074]" viewBox="0 0 256 256">
                  <path fill="currentColor"
                    d="m240.49 83.51-60-60a12 12 0 0 0-17 0L34.28 152.75a48.77 48.77 0 0 0 69 69l111.2-111.26 21.31-7.11a12 12 0 0 0 4.7-19.87M86.28 204.75a24.77 24.77 0 0 1-35-35l28.13-28.13c7.73-2.41 19.58-3 35.06 5a84 84 0 0 0 21.95 8ZM204.2 88.62a12.15 12.15 0 0 0-4.69 2.89l-38.89 38.9c-7.73 2.41-19.58 3-35.06-5a84 84 0 0 0-21.94-8L172 49l37.79 37.79Z" />
                </svg>
              </span>
              <span>Japa</span>
              <span class="absolute inset-0"></span>
            </a>
          </h2>

          <p class="mt-4 text-sm text-sand-11 group-hover:text-sand-12 transition ease-in-out duration-100">
            From JSON API tests using Open API schema to browser tests with Playwrighht, it comes with everything you
            need to test your application.
          </p>

          <svg
            class="absolute top-4 right-5 opacity-0 group-hover:opacity-100 text-sand-9 w-4 h-4 transition ease-in-out duration-100"
            viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6m-7 1 9-9m-5 0h5v5" />
          </svg>
        </article>
      </div>
    </div>

    <div class="text-sm text-center [&>code]:font-medium [&>code]:text-[#a599ff] bg-sand-12 text-sand-1 relative py-2">
      Route for this page is registered in <code>start/routes.ts</code>file, rendering
      <code>resources/views/pages/home.edge</code>template
    </div>
  </div>
</body>

</html>