@layout({ title: title })
@slot('meta')
<meta name="description" content="{{ summary }}" />
@endslot

<div class="flex justify-center">
  <div class="w-1/2 flex flex-wrap -mx-6">
    <h1>{{ title }}</h1>

    @if (abstract)
    <div class="my-8 bg-slate-100 rounded-xl p-8">
      {{{ abstract }}}
    </div>
    @endif

    @button({ href: route('movies.index') })
    Go back to movies
    @end
  </div>
</div>
@end