@layout({ title: movie.title })
@slot('meta')
<meta name="description" content="{{ movie.description }}" />
@endslot

<div class="flex justify-center">
  <div class="w-1/2 flex flex-wrap -mx-6">
    <h1>{{ movie.title }}</h1>

    @if (movie.abstract)
    <div class="my-8 bg-slate-100 rounded-xl p-8">
      {{{ movie.abstract }}} a
    </div>
    @endif

    @button({ href: route('movies.index') })
    Go back to movies
    @end
  </div>
</div>
@end